* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway';
    background: #EFEEEE;
}

.container {
    width: 20%;
    text-align: center;
    margin: auto;
    margin-top: 4rem;
}

h3 {
    margin: 1rem;
    margin-left: 2.4rem;
    margin-bottom: 1.3rem;
    text-align: left;
    letter-spacing: 0.05rem;
    color: rgba(34, 34, 34, 0.856);
    font-size: 1.4rem;
}


form {
    margin-top: 2rem;
}

ul {
    width: 80%;
    margin: auto;
    margin-top: 0.8rem;
    padding: 1rem;
    text-align: left;
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(59, 59, 59);
}

li:hover {
    /* background: #638ad133; */
    background: #1c8fd625;
    color: #108fdc;
}

li {
    padding: 0.5rem;
    padding-left: 1rem;
    border-radius: 5px;
    transition-property: background, color;
    transition-duration: 0.6s;
    display: flex;
    justify-content: space-between;
}

.card {
    padding: 1rem;
    border-radius: 12px;
    /* box-shadow: 0.5px 2px 15px 3px rgba(10, 10, 10, 0.3); */
    box-shadow: 6px 6px 16px 0 rgba(217, 210, 200, 0.51),
        -6px -6px 26px 0 rgba(255, 255, 255, 0.83);
}

input {
    width: 80%;
    padding: 0.5rem;
    border: #FFF 1px;
    font-size: 1.2rem;
    font-family: 'Raleway';
    transition-property: background;
    transition-duration: 1s;
    border-radius: 8px;
    background: #EFEEEE;
    box-shadow: 6px 6px 13px #cbcaca,
        -6px -6px 13px #ffffff;
}

input:focus {
    background: rgba(255, 255, 255, 0.884);
}

.btn {
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 5px;
    font-family: 'Raleway' !important;
    font-size: 0.9rem !important;
    font-weight: 500;
    background: #EFEEEE;
}

#first-btn {
    color: rgb(201, 15, 15) !important;
    letter-spacing: 0.08rem;
    transition-property: color;
    transition-duration: 0.5s;


}

#first-btn:hover {
    color: rgba(201, 15, 15, 0.5) !important;
}

#second-btn {
    letter-spacing: 0.08rem;
    transition-property: background, color;
    transition-duration: 1.2s;

    border-radius: 8px;
    background: #EFEEEE;
    box-shadow: 5px 5px 10px #cbcaca,
        -5px -5px 10px #ffffff;
    color: #108fdc;
}

#second-btn:hover {
    border-radius: 8px;
    background: #108edc9a;
    color: #EFEEEE;
}

#second-button {
    transition-property: background, color;
    transition-duration: 1.2s;

    border-radius: 8px;
    background: #EFEEEE;
    box-shadow: 5px 5px 10px #cbcaca,
        -5px -5px 10px #ffffff;
    color: #108fdc;
    text-align: center;
    margin: auto;
}


.buttons {
    display: flex;
    justify-content: right;
}

button {
    width: 50% !important;
}

/* Smaller screens */
@media(max-width: 1200px) {
    li {
        flex-direction: column;
    }

    .buttons {
        justify-content: center !important;
        flex-direction: column-reverse;

    }

    button {
        margin: auto;
    }

    .container {
        width: 50%;
        margin: auto;
    }

    .container .card ul li div:nth-of-type(2n) {
        margin-top: 0.28rem;
    }

    h3 {
        /* margin: auto; */
        text-align: center;
    }
}